body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left{
    background-color: #005BBB;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

}
.right{
    background-color: lightgray;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.putin{
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 350px;
    height: 250px;
    margin-left: -175px;
    background: url('../img/putin-stage1.png') no-repeat 0 0;
    transition: bottom 10000ms;
}
body.body-state3 .putin,
body.body-state4 .putin {
    bottom: 1000px;
}
.ground{
    background: url('../img/ground.png') no-repeat center center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 448px;
}

.nervous {
    position: absolute;
    top: 50%;
    left: 10%;
    background: url('../img/l.png') no-repeat 0 0;
    width: 216px;
    height: 153px;
    display: none;
}
.nervous.show {
    display: block;
}

.cant-wait {
    position: absolute;
    top: 50%;
    left: 60%;
    background: url('../img/r.png') no-repeat 0 0;
    width: 216px;
    height: 153px;
    display: none;
}
.cant-wait.show {
    display: block;
}

a:hover {
    color: red;
}
a.button{
    display: inline-block;
    background-color: #FFD500;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: color 300ms;

}
.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .putin{
    transition: none;}

/* rocket bg image */
body.body-state2 .putin {
    background: url('../img/putin-stage2.png') no-repeat center center;
}

body.body-state3 .putin {
    background-image: url('../img/putim-stage3.png');
}

body.body-state4 .putin {
    background-image: url('../img/Ukraine_animated_flag.gif');
    width: 241px;
    height: 188px;
    margin-left: -120,5px;
    top: 20%;
}

body.body-state5 .putin {
    background-image: url('../img/pngwing\ 3.png');
    width: 200px;
    height: 200px;
    margin-left: -100px;
    top: 30%;
}


body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

.interface {
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 70px;
    color: white;
}